[Desktop Entry]
Version=1.0
Name=Xenomai Lab
GenericName=Xenomai Lab
Comment=A platform for digital real-time control
Icon=xenomailab
Exec=xenomailab
Terminal=false
Type=Application
Categories=Qt;Application;Development;
